body {
  background-color: #fff;
  font-family: 'Spinnaker', sans-serif;
  margin: 0px;
  padding: 0px;
}

.wallpaper-no-border {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('http://cdn.shopify.com/s/files/1/0250/5422/files/ios_linen_texture___black_by_vegardhw-d3ddll5_copy.jpg?2614');
}

.orange-hr {
  border-top: 3px solid #FA824C;
}

/*** Header ***/

.header {
  background-color: #94a70d;
  height: 25vh;
  margin: 0px;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  text-decoration: none;
}

.header-text {
  color: #fff;
  display: inline-block;
  text-align: left;
  margin-left: 2%;
  margin-top: 10vh;
  height: 100%;
  width: auto;
}
.hack {
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  font-size: 10vh;
}

.recycle {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 10vh;
}

.header-img {
  display: inline-block;
  max-height: 25vh;
  width: auto;
  float: right;
}

@media screen and (max-width: 1030px) {
  .header-img {
    display: none;
  }
}


/*** Navbar ***/

.navbar {
  border-radius: 0 !important;
  margin: 0 !important;
  border-bottom: 1px solid #fff !important;
  display: flex;
}

.no-border {
  background-color: #202020;
  width: 100%;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 0px !important;
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline !important;
}

.navbar a:visited, a:after, a:active, a:focus {
  color: #fff;
  text-decoration: none;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff !important;
    color: #fff !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent !important;
}


/*MEDIA QUERY*/

@media only screen and (max-width: 1030px) {

    nav ul {
      text-align: center;
      background: #202020;
    }

    nav ul li {
      text-align: center;
      margin: 0;
    }

  nav ul li a {
    padding: 1vh 1vh;
    cursor: pointer;
  }

}

@media only screen and (max-width: 770px) {
    .navbar {
      display: block;
    }
}


/*** Footer ***/

.footer {
  background-color: #94a70d;
  height: 25vh;
  margin: 0px;
  line-height: 0;
}

.footer-text {
  color: #fff;
  display: inline-block;
  text-align: left;
  margin-left: 40px;
  margin-top: 10vh;
  height: 100%;
  width: auto;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
}

.footer-slogan {
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  font-size: 2vh;
  padding: 3vh;
}

.footer-img {
  display: inline-block;
  max-height: 25vh;
  width: auto;
  float: right;
}

@media screen and (max-width: 1030px) {
  .footer-img {
    display: none;
  }
}



/*** Search Bar ***/

.search-bar-body {
  min-height: 35vh;
  width: 100%;
  margin: 0px;
}

.search-container {
  text-align: center;
  justify-content: center;
}

.search-box-ready {
  padding-top: 25px;
  text-align: center;
}

.search-box-ready input {
  width: 50%;
}

.search-bar-header-ready {
  color: #33C3F0;
  font-weight: bold;
  padding-top: 5vh;
  text-align: center;
  font-size: 5rem;
}

.search-bar-header {
  color: #33C3F0;
  font-weight: bold;
  padding-top: 5vh;
  text-align: center;
  font-size: 3rem;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

.search-box {
  padding-top: 25px;
  text-align: center;
}


.search-box input {
  color: #33C3F0;
  text-align: center;
  height: 15vh;
  width: 40%;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
  font-family: 'Spinnaker', sans-serif;
  font-size: 3vh;
}

.search-results-list {
  min-height: 5vh;
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 20px 0px;
}

.search-results-list button {
  background-color: #FA824C;
  color: #fff;
  border-color: #fff;
  margin: 5px;
  font-size: 1.5rem;
  white-space: normal;
}

.search-results-list button:hover {
    background-color: #fff;
    color: #FA824C;
    border-color: #FA824C;
}

.search-result {
  justify-content: center;
  display: inline-block;
  text-align: center;
}

.search-results-orgs {
  text-align: center;
  vertical-align: middle;
  width: 100%
  min-height: 20vh;
  margin: auto;
  color: #FA824C;
}
.search-results-orgs h5 {
  color: #33C3F0;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
}

.search-results-orgs-box {
  margin: 5vh 0vh;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .search-bar-header-ready {
    font-size: 4rem;
  }
}


/*** Orgs Page ***/

.results-org-logo {
  display: inline;
  max-height: 20vh;
  padding: 3vh 0vh;
}

.search-results-orgs-box a {
  vertical-align: middle;
  text-decoration: none;
  color: #FA824C;
}

.org-name {
  font-style: bold;
  font-size: 2.5rem;
  text-align: center;
  margin:auto;
  max-width: 50%;
}

.org-info {
  text-align: center;
  max-width: 50%;
  margin:auto;
  font-size: 2rem;

}

.items-by-org-grid {
  width: 80%;
  margin: auto;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
}

.items-by-org {
  padding: 0px;
  margin: 0px;
}

.items-by-org a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
}
.items-by-org a:hover {
  text-decoration: underline;
}

/*** Jump Arrow ***/

.downArrow {
  text-align: center;
  cursor:s-resize;
  margin: 5vh 0vh;
}



/*** Categories Container ***/
.category-grid-container {
 margin: auto;
}

.categories-container {
font-family: 'Spinnaker', sans-serif;
display: -webkit-flex;
display: flex;
-webkit-align-items: center;
align-items: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
-webkit-align-content: flex-end;
align-content: flex-end;
}

.category-list-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 4em;
  letter-spacing: 4px;
  color: #FA824C;
  padding: 4%;
  padding-top: 10%;
  text-align: center;
}

.category-box {
 margin: auto;
 text-align: center;
 display: inline-block;
 border-radius: 25%;
 flex-grow: 1;
 width: 40vh;
 overflow: hidden;
}

.category-box img {
 border-radius: 25%;
    width: 40vh;
}

.category-box figure {
 overflow: hidden;
 position: relative;
 border-radius: 25%;
 margin: 2rem auto;
 height: 35vh;
 width: 40vh;
}

.category-box figcaption {
    background: rgba(250, 130, 76, 0.8);
    border-radius: 25%;
    color: white;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.category-box figcaption h3 p {
    position: relative;
    top: 15vh;
    height: 40vh;
    width: 40vh;
    vertical-align: middle;
}

.category-box figcaption h3 {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.category-box:hover figcaption {
    border-radius: 25%;
    opacity: 1;
}


.category-box img {
  height: auto;
   border-radius: 25%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
 height: 35vh;
    width: 40vh;
}

.category-box:hover img {
 border-radius: 25%;
}

.category-box figcaption p {
    font-size: 2.5vh;
    margin: auto;
    position: relative;
    top: -7%;
    width: 35vh;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    vertical-align: middle;
}

.category-box:hover figcaption p {
 border-radius: 25%;
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

.category-title-media {
  display: none;
}

@media screen and (max-width: 1000px) {
  .category-list-header {
  font-size: 2em;
  text-decoration: none;
  letter-spacing: normal;
  }

  .category-title-media {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 2rem;
    margin: auto;
  }

  .category-box a {
    text-decoration: none;
  }
}

/*** Item List Page ***/

.itemClass-list-header {
  color: #FA824C;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0rem;
}

.itemClass-list-container {
  font-family: 'Spinnaker', sans-serif;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  margin: 5vh 0vh;
}

.itemClass-list-container h6 {
  font-size: 1em;
  text-align: center;
  color:  #FA824C;
  margin-bottom: 5%;
  margin-top: 1%;
  width: 100%;
}

.itemClass-list-box {
  display: inline-block;
  flex-grow: 1;
  vertical-align: middle;
  text-align: center;
  width: 25%;
  height: 50%;
  margin: auto 1.5rem;
  overflow: hidden;
}

.itemClass-list-box a {
  color: #fff;
  text-decoration: none;
}

.itemClass-list-box a:hover {
  text-decoration: underline;
  color: #FA824C;
}

.itemClass-list-box img {
  max-width: 30vh;
  max-height: 30vh;
  padding-bottom: 2vh;
  overflow: hidden;
}

.itemClass-list-container h4 {
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  color: #FA824C;
  padding: 2vh 0vh;
  margin: 0;
  width: 100%;
}

.itemClass-list-info {
  color: black;
  font-size: 1em;
}



/*** isDonatable Page ***/


.itemClass-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.isDonate-able-container {
width: 50%;
}

.itemClass-separator {
  width: 60%;
}


.itemClass-box {
  text-align: center;
  margin: auto;
}

.donate-able {
  text-align: center;
}

.isDonate-able-container h5 {
  text-align: center;
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  color: #fff;
  padding-top: 5vh;
}

.itemClass-box img {
  height: 30vh;
  width: 30vh;
  padding: 0vh 5vh 5vh 5vh;
  text-align: center;
}

.itemClass-box p a {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  height: 10vh;
}

.itemClass-box p a:hover {
  text-decoration: underline;
}

.itemClass-content {
  width: 60%;
  text-align: center;
  margin: auto;
}

.itemClass-info {
  text-align: center;
  margin: 5% 15%;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  color: #fff;
}

.itemClass-org-map {
  margin: auto;
  padding: 2em 0em;
  height: 40vh;
  width: 80%;
}


/*** Organizations List ***/

.org-link-list {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;}

.org-box {
  font-family: 'Spinnaker', sans-serif;
  text-align: center;
  margin: 2vh 2vh;
  max-width: 25vh;
}


.org-header h4 {
  color: #FA824C;
  font-size: 3.5vh;
  margin: 1vh auto;
}

.org-header p {
  color: #FA824C;
  padding-top: 5vh;
  font-style: italic;
  font-size: 2vh;
}

.org-header a:hover {
  text-decoration: underline;
}

.org-header{
  width: 70%;
  margin: auto;
  padding-top: 5vh;
  text-align: center;
}

.org-header a {
  text-decoration: none;
  color: inherit !important;
}

.org-item-list {
  width: 15%;
  margin: 0px;
}

.org-single-box {
  text-align: center;
  margin: 10px;
  color: #fff;
  overflow: hidden;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

.org-details {
  margin: auto;
}

.org-details button {
  margin: 1em 0px;
  padding: 0.5em;
  height: auto;
  background-color: #FA824C;
  color: #fff;
  border-color: #fff;
  white-space: normal;
  line-height: 1.5em;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.org-button {
  max-width: 80%;
  margin: auto;
}

.org-logo {
  height: 20vh;
  max-width: 30vh;
}


.org-item-list ul li {
  display: inline-block;
  font-size: 1.5vh;
  list-style: none;
  text-decoration: none;
}

.closing-tag{

  color: #FA824C;
  padding-top: 5vh;
  font-style: italic;
  font-size: 3vh;
  text-align: center;
}

.closing-tag a {
  text-decoration: none;
  color: inherit !important;
}



/*** About Page ***/

.about-title {
  padding-top: 5%;
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  font-size: 160%;
  font-weight: bold;
  color:  #FA824C;

}

.about-header {
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  color: #fff;
  padding-top: 5vh;

}

.about-text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  color: white;
}

.hopper-img {
  border-radius: 15%;
	width: 30%;
  display: block;
  margin: auto;
}

.mulledwine-img {
  border-radius: 15%;
	width: 30%;
  length: 30%;
  display: block;
  margin: auto;
}

/*** General Info  Page ***/


.info-header {
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-size: 160%;
  font-weight: bold;
  color:  #FA824C;
  margin-bottom: 2%;
  padding-top: 2%;
}

.info-text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  color: white
}


.info-text a {
  color: white;
  text-decoration: none;
}

.info-text a:hover {
  text-decoration: underline;
}

.info-div {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 2%;

}

.info-div-2 {
  width: 60%;
  margin-left: 40%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.info-pointers{
  font-family: 'Spinnaker', sans-serif;
  color: white;
}

/*** Contact Form ***/

.contact-form {
  font-family: 'Spinnaker', sans-serif;
  width: 50%;
  margin: auto;
  font-weight: bold;
  color:  #fff
}

.contact-form h4 {
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-size: 160%;
  font-weight: bold;
  color:  #FA824C;
  margin-bottom: 2%;
  padding-top: 5%;
}

.contact-form input {
  width: 100%;
  height: 8vh;
  font-size: 3vh;
  border-radius: 4px;
  color: black;
}

.contact-form textarea {
  width: 100%;
  height: 25vh;
  font-size: 3vh;
  color: black;
}

.contact-submit-message {
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-size: 160%;
  font-weight: bold;
  color:  #FA824C;
  width: 100%;
  padding: 25% 0 25% 0;
}

.contact-error-message {
  color: #FA824C;
}

.send {
  text-align: center;
  margin-bottom: 5%;
}

.send button {
  text align: center;
  background-color: #FA824C;
  color: #fff;
  border-color: #fff;
  margin: 5px;
  font-size: 1.5rem;
}

.send button:hover {
    text align: center;
    background-color: #fff;
    color: #FA824C;
    border-color: #FA824C;
}

/*** Admin Forms ***/

.labelone {
  padding: 4vh 0vh 2vh 0vh;
}

.form-container {
  text-align: center;
}

.admin-form {
font-family: 'Spinnaker', sans-serif;
width: 50%;
margin: auto;
font-weight: bold;
color: #fff;

}

.admin-form-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0%;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-size: 160%;
  font-weight: bold;
  color:  #FFF;
  padding-top: 7%;
}

.admin-form p {
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-size: 120%;
  color:  #FA824C;
  margin-bottom: 2%;
}

.admin-form input {
    width: 100%;
    height: 8vh;
    font-size: 2.3rem;
    border-radius: 4px;
    color: black;
}

.admin-form textarea {
  width: 100%;
  height: 25vh;
  font-size: 2.3rem;
  color: black;
}

.form-submit-button {
  text-align: center;
  margin-bottom: 5%;
  display: block;
}

.form-submit-button button {
  text align: center;
  background-color: #FA824C;
  color: #fff;
  border-color: #fff;
  margin: 3vh;
  font-size: 1.5rem;
}

.form-submit-button button:hover {
  text align: center;
  background-color: #fff;
  color: #FA824C;
  border-color: #FA824C;
}

.donate-or-recycle {
  color: #FA824C;
  font-weight: bold;
  padding: 3vh 0vh 1vh 0vh;
}

.submit-message {
  margin: 0;
  text-align: center;
  padding: 10%;
  color: #fff;
  text-decoration: none;
}

.admin-submit-box {
  text-align: center;
}

.admin-submit-box a {
  text-decoration: none;
}

.admin-button {
  text align: center;
  background-color: #FA824C;
  color: #fff;
  border-color: #fff;
  margin: 0 auto 10% auto;
  font-size: 1.5rem;
}

.admin-button:hover {
  text align: center;
  background-color: #fff;
  color: #FA824C;
  border-color: #FA824C;
}


/*** Org Update Form ***/


.update-button {
  background-color: #fff;
  text-align: center;
  margin: 5vh 0vh;
}

.update-button:hover {
  text align: center;
  background-color: #fff;
  color: #FA824C;
  border-color: #FA824C;
}

.drop-menu {
  text-align: center;
  background-color: #fff;
  border-color: #fff;
  margin: 2vh auto 5vh auto;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
}
