body {
  background-color: #fff;
  font-family: 'Spinnaker', sans-serif;
  margin: 0px;
  padding: 0px;
}

.wallpaper-no-border {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url('http://cdn.shopify.com/s/files/1/0250/5422/files/ios_linen_texture___black_by_vegardhw-d3ddll5_copy.jpg?2614');
}

.orange-hr {
  border-top: 3px solid #FA824C;
}

/*** Header ***/

.header {
  background-color: #94a70d;
  height: 25vh;
  margin: 0px;
}

.header-text {
  color: #fff;
  display: inline-block;
  text-align: left;
  margin-left: 40px;
  margin-top: 10vh;
  height: 100%;
  width: auto;
}
.hack {
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  font-size: 10vh;
}

.recycle {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 10vh;
}

.header-img {
  display: inline-block;
  max-height: 25vh;
  width: auto;
  float: right;
}

@media screen and (max-width: 700px) {
  .header-img {
    display: none;
  }
}

/*** Footer ***/

.footer {
  background-color: #94a70d;
  height: 25vh;
  margin: 0px;
  line-height: 0;
}

.footer-text {
  color: #fff;
  display: inline-block;
  text-align: left;
  margin-left: 40px;
  margin-top: 10vh;
  height: 100%;
  width: auto;
}
.hack {
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  font-size: 10vh;
}

.recycle {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 10vh;
}

.footer-img {
  display: inline-block;
  max-height: 25vh;
  width: auto;
  float: right;
}

@media screen and (max-width: 1000px) {
  .footer-img {
    display: none;
  }
}

/*** Navbar ***/

.no-border {
  background-color: #202020;
  width: 100%;
}

header {
   height: 5vh;
   position: fixed;
   margin: 0;
   padding: 0;
   z-index: 100;
}

ul {
  list-style: none;
  text-align: center;
}

ul li {
   display: inline;
}

nav ul li a {
  font-family: 'Spinnaker', sans-serif;
  font-size: 2vh;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  margin-right: 12px;
  padding: 0vh 5vh;
  padding-top: 1vh;
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline;
}


.menu-icon {
   color: #fff;
   text-decoration: none;
   font-size: 1em;
   margin: 1vh 2vh;
   float: right;
   display: none;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 900px) {

 header {
   position: absolute;
 }

 .menu-icon {
   display:inline-block;
 }

 nav ul, nav:active ul {
   display: none;
   position: absolute;
   padding: 10px;
   background: #202020;
   margin-top: 40px;
   right: 5px;
   width: 9em;
 }

 nav:hover ul {
   display: block;
   background-color: #202020;
 }

 nav li {
   text-align: center;
   width: 100%;
   padding: 5px 0px;
   margin: 0;
 }

 nav ul li a {
     margin-left: 8px;
 }
}


/*** Search Bar ***/

.search-bar-body {
  min-height: 35vh;
  width: 100%;
}

.search-container {
  text-align: center;
  justify-content: center;
}

.search-box-ready {
  padding-top: 25px;
  text-align: center;
}

.search-box-ready input {
  width: 50%;
}

.search-bar-header-ready {
  color: #33C3F0;
  font-weight: bold;
  padding-top: 5vh;
  text-align: center;
  font-size: 5rem;
}

.search-bar-header {
  color: #33C3F0;
  font-weight: bold;
  padding-top: 5vh;
  text-align: center;
  font-size: 3rem;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

.search-box {
  padding-top: 25px;
  text-align: center;
}


.search-box input {
  color: #33C3F0;
  text-align: center;
  height: 15vh;
  width: 20%;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
  font-family: 'Spinnaker', sans-serif;
  font-size: 3vh;
}

.search-results-list {
  min-height: 5vh;
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 20px 0px;
}

.search-results-list button {
  background-color: #FA824C;
  color: #fff;
  border-color: #fff;
  margin: 5px;
  font-size: 1.5rem;
}

.search-results-list button:hover {
    background-color: #fff;
    color: #FA824C;
    border-color: #FA824C;
}

.search-result {
  justify-content: center;
  display: inline-block;
  text-align: center;
}

.search-results-orgs {
  width: 100vh;
  min-height: 20vh;
  margin: auto;
}

.org-name {
  font-style: bold;
  font-size: 2rem;
}

/*** Jump Arrow ***/

.downArrow {
  text-align: center;
  cursor:s-resize;
  margin: 5vh 0vh;
}



/*** Categories Container ***/
.category-grid-container {
 margin: auto;

}


.categories-container {
font-family: 'Spinnaker', sans-serif;
display: -webkit-flex;
display: flex;
-webkit-align-items: center;
align-items: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
-webkit-align-content: flex-end;
align-content: flex-end;}

.category-list-header {
  color: #FA824C;
  padding: 2%;
  font-weight: bold;
  text-align: center;
}

.category-box {
 margin: auto;
 text-align: center;
 display: inline-block;
 border-radius: 25%;
 flex-grow: 1;
    width: 40vh;
 overflow: hidden;
}

.category-box img {
 border-radius: 25%;
    width: 40vh;
}

.category-box figure {
    overflow: hidden;
    position: relative;
 border-radius: 25%;
 height: 35vh;
 width: 40vh;
}

.category-box figcaption {
    background: rgba(250, 130, 76, 0.8);
    border-radius: 25%;
    color: white;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.category-box figcaption h5 p {
    position: relative;
    top: 15vh;
    height: 40vh;
    width: 40vh;
    vertical-align: middle;
}

.category-box figcaption h5 {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.category-box:hover figcaption {
    border-radius: 25%;
    opacity: 1;
}


.category-box img {
    height: auto;
 border-radius: 25%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
 height: 35vh;
    width: 40vh;
}

.category-box:hover img {
 border-radius: 25%;
}

.category-box figcaption p {
    font-size: 2.5vh;
    margin: auto;
    position: relative;
    top: -5vh;
    width: 35vh;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    vertical-align: middle;
}

.category-box:hover figcaption p {
 border-radius: 25%;
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

/*** ItemClass Container ***/

.itemClass-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.itemClass-list-header {

}

.itemClass-box {
  text-align: center;
  flex-grow: 1;
  max-width: 200px;
}

.itemClass-box img {
  height: 120px;
  width: auto;
}

.itemClass-name {

}

.itemClass-info {

}


/*** Organizations List ***/

.org-link-list {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;}

.org-box {
  font-family: 'Spinnaker', sans-serif;
  text-align: center;
  margin: 2vh 2vh;
  max-width: 25vh;
}


.org-header h4 {
  color: #FA824C;
  font-size: 3.5vh;
  margin: 1vh;
}

.org-header p {
  color: #FA824C;
  padding-top: 5vh;
  font-style: italic;
  font-size: 2vh;
}

.org-header a {
  text-decoration: none;
}

.org-header{
  width: 70%;
  margin: auto;
  padding-top: 5vh;
  text-align: center;
}

.org-box a {
  text-decoration: none;
}

.org-item-list {
  width: 15%;
  margin: 0px;
}

.org-single-box {
  text-align: center;
  margin: 10px;
  color: #FA824C;
}
.org-details button {
  margin: 10px 0px;
  background-color: #fff;
  color: #FA824C;
  border-color: #FA824C;
}

.org-logo {
  height: 20vh;
}


.org-item-list ul li {
  display: inline-block;
  font-size: 1.5vh;
  list-style: none;
  text-decoration: none;
}






/*** About Page ***/



.about-title {
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  font-size: 160%;
  font-weight: bold;
  color:  #FA824C;

}

.about-header {
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-weight: bold;
  color: #fff;
  padding-top: 5vh;

}

.about-text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  color: white;


}
.hopper-img {
  border-radius: 15%;
	width: 30%;
  display: block;
  margin: auto;

}

.mulledwine-img {
  border-radius: 15%;
	width: 30%;
  length: 30%;
  display: block;
  margin: auto;

}

/*** General Info  Page ***/


.info-header {
  text-align: center;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  font-size: 160%;
  font-weight: bold;
  color:  #FA824C;
  margin-bottom: 2%;

}


.info-text {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  height: 100%;
  font-family: 'Spinnaker', sans-serif;
  color: white

}

.info-div {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.info-div-2 {
  width: 60%;
  margin-left: 40%;
  margin-right: 20%;
  margin-bottom: 5%;
}

.info-pointers{
  font-family: 'Spinnaker', sans-serif;
  color: white;
}

/*** Contact Form ***/

.contact-form {
  font-family: 'Spinnaker', sans-serif;
  width: 50%;
  margin: auto;
}

.contact-form h4 {
  text-align: center;
}

.contact-form input {
  width: 100%;
  height: 8vh;
  font-size: 3vh;
}

.contact-form textarea{
  width: 100%;
  height: 25vh;
}
